
body, html, section#content{
	height:100%;
}
section#central, article#riquadro{
    /*height:45em;*/
    height:95%;
}

/*article#riquadro svg*/
#riquadro h3{
    height:2em;
}

article#canvas{
    width:100%;
    height:93%;
    /*height:40.8em;*/
}

/* for the images in the tab buttons*/
img.navbar {
  margin-left: 10px;
  margin-top: -10px;
  max-width: 65px;
  max-height: auto;
}

/*remove circle from radio buttons*/
#entity-modal [type='radio'] {
    display: none; 
}

/*style the selected radio buttons*/
.btn-selected {
    background-color: #bbb;
  }


/* to set the modal width resize dynamically with its content*/
#entity-modal .modal-dialog.modal-lg{ 
    max-width: 100%; 
    width: auto !important; 
    display: inline-block; 
}

#canvas{
	height:100%;
	width:100%;
}

/*to restore the centered position of the modal*/
.modal#entity-modal{
    text-align: center;
}

/* style of the radio buttons inside entity-modal*/
label.button3 {

    cursor:	pointer;
    border-color: #282828;    
    border-style: solid;
    border-width: 1px;
    width: 100%;
    color: #1F1F1F;
    text-align: center;
    /*background-color:#007bff;*/
/*
-o-box-shadow: 
    0 2px 8px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);

-webkit-box-shadow: 
    0 2px 8px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);

-moz-box-shadow:
    0 2px 8px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);

box-shadow: 
    0 2px 8px rgba(0,0,0,0.5), 
    inset 0 1px rgba(255,255,255,0.3), 
    inset 0 10px rgba(255,255,255,0.2), 
    inset 0 10px 20px rgba(255,255,255,0.25), 
    inset 0 -15px 30px rgba(0,0,0,0.3); 
  
Exterior Shadow 
Top light Line
Top Light Shadow
Sides Light Shadow
Dark Background
 */
}

label.button3.default{
    font-weight:bold;
}

label.button3:hover,
label.button3:focus,
label.button3:not(:disabled):not(.disabled).active, 
label.button3:not(:disabled):not(.disabled):active
{
-o-box-shadow: 
    0 2px 8px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);

-webkit-box-shadow: 
    0 2px 8px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);

-moz-box-shadow:
    0 2px 8px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);

box-shadow: 
    0 2px 8px rgba(0,0,0,0.5), 
    inset 0 1px rgba(255,255,255,0.3), 
    inset 0 10px rgba(255,255,255,0.2), 
    inset 0 10px 20px rgba(255,255,255,0.25), 
    inset 0 -15px 30px rgba(0,0,0,0.3); 
    /*
-o-box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow:none;
box-shadow:none; */

}

label.biobanking_management_module,
label.biobanking_management_module:not(:disabled):not(.disabled).active, 
label.biobanking_management_module:not(:disabled):not(.disabled):active,
label.biobanking_management_module:not(:disabled):not(.disabled):hover
{
    background-color:#d6543f;
}
label.cellline_management_module,
label.cellline_management_module:not(:disabled):not(.disabled).active, 
label.cellline_management_module:not(:disabled):not(.disabled):active,
label.cellline_management_module:not(:disabled):not(.disabled):hover{
    background-color:#81bb81;
}
label.storage_management_module,
label.storage_management_module:not(:disabled):not(.disabled).active, 
label.storage_management_module:not(:disabled):not(.disabled):active,
label.storage_management_module:not(:disabled):not(.disabled):hover
{
    background-color:#ffe766;
}
label.xenografts_management_module,
label.xenografts_management_module:not(:disabled):not(.disabled).active, 
label.xenografts_management_module:not(:disabled):not(.disabled):active,
label.xenografts_management_module:not(:disabled):not(.disabled):hover
{
    background-color:#818fbb;
}
label.operators,
label.operators:not(:disabled):not(.disabled).active, 
label.operators:not(:disabled):not(.disabled):active,
label.operators:not(:disabled):not(.disabled):hover
{
    background-color:#A9A9A9;
}
/*
.block rect{
    
    fill:#d6543f;
    stroke:black;
    stroke-opacity:0.9;
}*/

.block text{
    fill:black;
    fill-opacity:0.6;
    /*font-size:1.2rem;*/
}
.biobanking_management_module rect{
    fill:#d6543f;
}
.cellline_management_module rect{
    fill:#81bb81;
}
.storage_management_module rect{
    fill:#ffe766;
}
.xenografts_management_module rect{
    fill:#818fbb;
}
.operators rect{
    fill:#A9A9A9;
}

/* left menu bar*/
#sidebar{
    position:absolute;
    margin-left:1em;
    margin-top:4.8em;
    z-index:10;
}

/* query title and description */
textarea#query_title{
    margin-bottom:0.5em;
    width:100%;
    min-height: 40px;
}
textarea#query_description{
    min-height: 120px;
    width:100%;
}

/* style Template Definition Modal */

#definetempl .templateform{
    width:100%;
}

#definetempl #templbtn{
    font-weight: bold;
    display:block;
    right: 20px;
    bottom: 5px;
}

article#blockparams {
    width: 100%;
    height: 100%;
    max-height: 400px;
    overflow-y: auto;
    margin: 5px;
}

#titledescr-modal, #message-modal, #context-modal{
    z-index:1077;
}

#inpdef, #paramdef{
    width:450px;
}
#tinput-name, #tinput-descr{
    /*width:10em;
    position:relative;
    right:0px;*/
    /*position:absolute;
    right:29px;*/
}

p.tmp_msg{
    margin-bottom:0.5em;
}

#myoverlay{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1075; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

/*overwrite bootstrap style*/
body{
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    
}
header h1{ 
    font-weight:bold;
    display:inline;
    vertical-align:bottom;
    }